
    body {
      margin: 0;
      padding: 0;
      background-image: url("https://e0.pxfuel.com/wallpapers/38/395/desktop-wallpaper-background-solid-glare-light-color-widescreen-16-9-background-solid-light-purple.jpg");
      background-size: cover;
      background-attachment: fixed;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .heading {
      font-size: 3rem;
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .search-form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .search-form label,
    .search-form select,
    .search-form input {
      margin: 5px;
      font-size: 1.2rem;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .search-form select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: right 10px center;
    }

    .search-form input:focus {
      outline: 2px solid blue;
    }

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }